@{
    ViewData["Title"] = "Admin Page";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Protected admin page.</p>
<a asp-area="" asp-controller="Admin" asp-action="Settings">Settings</a>
